/**
 * $license
 * MyFonts Webfont Build ID 3386763, 2017-05-10T04:10:42-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: NeuzeitGro-Lig by URW++
 * URL: https://www.myfonts.com/fonts/urw/neuzeit-grotesk/t-light/
 *
 * Webfont: NeuzeitGro-Bla by URW++
 * URL: https://www.myfonts.com/fonts/urw/neuzeit-grotesk/t-black/
 *
 * Webfont: NeuzeitGro-Reg by URW++
 * URL: https://www.myfonts.com/fonts/urw/neuzeit-grotesk/t-regular/
 *
 * Webfont: NeuzeitGro-Bol by URW++
 * URL: https://www.myfonts.com/fonts/urw/neuzeit-grotesk/t-bold/
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3386763
 * Licensed pageviews: 200,000
 * Webfonts copyright: (URW)++,Copyright 2014 by (URW)++ Design &amp; Development
 *
 * © 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url('//hello.myfonts.net/count/33ad8b');

@font-face {
  font-family: 'NeuzeitGrotesk';
  font-weight: 300;
  font-style: normal;
  src: url('#{$neuzeit-font-path}/33AD8B_0_0.eot');
  src: url('#{$neuzeit-font-path}/33AD8B_0_0.eot?#iefix') format('embedded-opentype'),
       url('#{$neuzeit-font-path}/33AD8B_0_0.woff2') format('woff2'),
       url('#{$neuzeit-font-path}/33AD8B_0_0.woff') format('woff'),
       url('#{$neuzeit-font-path}/33AD8B_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'NeuzeitGrotesk';
  font-weight: 400;
  font-style: normal;
  src: url('#{$neuzeit-font-path}/33AD8B_2_0.eot');
  src: url('#{$neuzeit-font-path}/33AD8B_2_0.eot?#iefix') format('embedded-opentype'),
       url('#{$neuzeit-font-path}/33AD8B_2_0.woff2') format('woff2'),
       url('#{$neuzeit-font-path}/33AD8B_2_0.woff') format('woff'),
       url('#{$neuzeit-font-path}/33AD8B_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'NeuzeitGrotesk';
  font-weight: 700;
  font-style: normal;
  src: url('#{$neuzeit-font-path}/33AD8B_3_0.eot');
  src: url('#{$neuzeit-font-path}/33AD8B_3_0.eot?#iefix') format('embedded-opentype'),
       url('#{$neuzeit-font-path}/33AD8B_3_0.woff2') format('woff2'),
       url('#{$neuzeit-font-path}/33AD8B_3_0.woff') format('woff'),
       url('#{$neuzeit-font-path}/33AD8B_3_0.ttf') format('truetype');
}

@font-face {
  font-family: 'NeuzeitGrotesk';
  font-weight: 900;
  font-style: normal;
  src: url('#{$neuzeit-font-path}/33AD8B_1_0.eot');
  src: url('#{$neuzeit-font-path}/33AD8B_1_0.eot?#iefix') format('embedded-opentype'),
       url('#{$neuzeit-font-path}/33AD8B_1_0.woff2') format('woff2'),
       url('#{$neuzeit-font-path}/33AD8B_1_0.woff') format('woff'),
       url('#{$neuzeit-font-path}/33AD8B_1_0.ttf') format('truetype');
}
