// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Font paths

$fa-font-path:      "../fonts/fontawesome";
$neuzeit-font-path: "../fonts/neuzeit-grotesk";

//
// Poppulo Color System
//

// stylelint-disable

// Poppulo Turquoise

$turquoise-10:  #DFF0ED;
$turquoise-20:  #D9F9F4;
$turquoise-30:  #A4ECE0;
$turquoise-40:  #B2F3E9;
$turquoise-50:  #98EBDE;
$turquoise-60:  #8DEDDE;
$turquoise-70:  #73E7D5;
$turquoise-80:  #68E8D3;
$turquoise-90:  #4FE4CD;
$turquoise-100: #3DE3C9;

// Poppulo Dark Blue

$dark-blue-10:  #D9DEE0;
$dark-blue-20:  #CCD6DB;
$dark-blue-30:  #A9B8BF;
$dark-blue-40:  #99ADB5;
$dark-blue-50:  #79939E;
$dark-blue-60:  #678591;
$dark-blue-70:  #486C7B;
$dark-blue-80:  #345C6C;
$dark-blue-90:  #18465A;
$dark-blue-100: #003349;

// Poppulo Mid-Purple
// Used to support and help us create a hiearchy within our brand

$purple-10:     #E5E5F3;
$purple-20:     #E4E4F8;
$purple-30:     #CDCDF6;
$purple-40:     #C9C9F2;
$purple-50:     #B5B5F9;
$purple-60:     #AEADEB;
$purple-70:     #9B9BFB;
$purple-80:     #9392E5;
$purple-90:     #8383FE;
$purple-100:    #7777FF;

// Poppulo CTA blue

$blue-10:       #DEE2EF;
$blue-20:       #CCD3EE;
$blue-30:       #B9C3EB;
$blue-40:       #A6B3E9;
$blue-50:       #93A4E7;
$blue-60:       #8094E4;
$blue-70:       #6C84E1;
$blue-80:       #5A74DF;
$blue-90:       #4765DD;
$blue-100:      #3455DB;

// Grays can be used over large areas but other tints and shades should not form a
// major part of any communications as they will water down the primary brand palette

$gray-10:       #F5F5F5;
$gray-20:       #EAEAEA;
$gray-30:       #E0E0E0;
$gray-40:       #D5D5D5;
$gray-50:       #CBCBCB;
$gray-60:       #C0C0C0;
$gray-70:       #B6B6B6;
$gray-80:       #ABABAB;
$gray-90:       #A1A1A1;
$gray-100:      #969696;

$light:         $gray-10;
$dark:          #4D4D4D;
$white:         #fff;
$black:         #000;

$grays: ();
$grays: map-merge((
  "100":  $gray-10,
  "200":  $gray-20,
  "300":  $gray-30,
  "400":  $gray-40,
  "500":  $gray-50,
  "600":  $gray-60,
  "700":  $gray-70,
  "800":  $gray-80,
  "900":  $gray-90,
  "1000": $gray-100
), $grays);

// Mapped Poppulo colors to bootstrap variables
// TODO: alerts colors are not final and need to be looked at

$blue:          $blue-100;
$indigo:        #8A2BE2;
$purple:        $purple-100;
$pink:          #DB0A5B;
$red:           #E00000;
$orange:        #DC3900;
$yellow:        #9F6C00;
$green:         #008900;
$teal:          #007A7C;
$cyan:          #17a2b8;

$colors: ();
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-60,
  "gray-dark":  $gray-100
), $colors);

$primary:       $blue;
$secondary:     $gray-60;
$success:       #0C5A0C;
$info:          $dark-blue-100;
$warning:       #564726;
$danger:        #9C0000;

// Popppulo theme colors

$theme-colors: ();
$theme-colors: map-merge((
  "primary"       : $primary,
  "secondary"     : $secondary,
  "success"       : $success,
  "info"          : $info,
  "warning"       : $warning,
  "danger"        : $danger,
  "light"         : $light,
  "dark"          : $dark,
  "turquoise-10"  : $turquoise-10,
  "turquoise-20"  : $turquoise-20,
  "turquoise-30"  : $turquoise-30,
  "turquoise-40"  : $turquoise-40,
  "turquoise-50"  : $turquoise-50,
  "turquoise-60"  : $turquoise-60,
  "turquoise-70"  : $turquoise-70,
  "turquoise-80"  : $turquoise-80,
  "turquoise-90"  : $turquoise-90,
  "turquoise-100" : $turquoise-100,
  "dark-blue-10"  : $dark-blue-10,
  "dark-blue-20"  : $dark-blue-20,
  "dark-blue-30"  : $dark-blue-30,
  "dark-blue-40"  : $dark-blue-40,
  "dark-blue-50"  : $dark-blue-50,
  "dark-blue-60"  : $dark-blue-60,
  "dark-blue-70"  : $dark-blue-70,
  "dark-blue-80"  : $dark-blue-80,
  "dark-blue-90"  : $dark-blue-90,
  "dark-blue-100" : $dark-blue-100,
  "blue-10"       : $blue-10,
  "blue-20"       : $blue-20,
  "blue-30"       : $blue-30,
  "blue-40"       : $blue-40,
  "blue-50"       : $blue-50,
  "blue-60"       : $blue-60,
  "blue-70"       : $blue-70,
  "blue-80"       : $blue-80,
  "blue-90"       : $blue-90,
  "blue-100"      : $blue-100,
  "purple-10"     : $purple-10,
  "purple-20"     : $purple-20,
  "purple-30"     : $purple-30,
  "purple-40"     : $purple-40,
  "purple-50"     : $purple-50,
  "purple-60"     : $purple-60,
  "purple-70"     : $purple-70,
  "purple-80"     : $purple-80,
  "purple-90"     : $purple-90,
  "purple-100"    : $purple-100,
  "gray-10"       : $gray-10,
  "gray-20"       : $gray-20,
  "gray-30"       : $gray-30,
  "gray-40"       : $gray-40,
  "gray-50"       : $gray-50,
  "gray-60"       : $gray-60,
  "gray-70"       : $gray-70,
  "gray-80"       : $gray-80,
  "gray-90"       : $gray-90,
  "gray-100"      : $gray-100
), $theme-colors);

// stylelint-enable

// Set a specific jump point for requesting color jumps
$theme-color-interval:     8%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $gray-90;
$yiq-text-light: $white;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:              true;
$enable-rounded:            false;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// stylelint-disable
$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 2),
  6: ($spacer * 2.5),
  7: ($spacer * 3),
  8: ($spacer * 3.5),
  9: ($spacer * 4)
), $spacers);

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $gray-10;
$body-color:                $dark;

// Links
//
// Style anchor elements.

$link-color:                $blue;
$link-decoration:           none;
$link-hover-color:          lighten($link-color, 20%);
$link-hover-decoration:     underline;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1400px
);

// xs: 0
// sm: 576px
// md: 768px
// lg: 992px
// xl: 1200px

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1400px
);

// sm: 540px
// md: 720px
// lg: 960px
// xl: 1140px

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'NeuzeitGrotesk', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;
// stylelint-enable value-keyword-case
